
/* 1100 ----------- */
@media only screen 
and (max-width : 1101px) {
/* Styles */
.about-review-text-container {
  font-size: 0.95em;
}
.job-desc {
	font-size: 0.95em;
}
.job-title {
	font-size: 1.5em;
}
.about-review {
  width: 100%;
  margin: 0 auto;
}
.about-review-text-container {
  font-size: 1em;
  margin: 2em;
  padding: 2em;
}

}

/* 768px ----------- */
@media only screen 
and (max-width : 769px) {
/* Styles */
.about-image {
	max-width: 90%;
}
nav ul { padding-right: 0.5em; }
nav ul li {
	margin: 2px 0.5em 0;
}
#aboutTextContainer h1 {
	font-size: 3.5em;
}
#aboutTextContainer p {
	line-height: 1.5em;
}
.about-review-text-container {
	margin: 0 0 2em 0;
}

#experience .section-title,
#projects .section-title,
#design .section-title {
	font-size: 3.5em;
}

#experience .job-title {
	font-size: 2em;
}

#experience .job-desc p {
	font-size: 1.3em;
	line-height: 1.7em;
}

#projects .code-project .code-project-desc p {
	font-size: 1.3em;
	line-height: 1.7em;
	margin-bottom: 0;
}

.code-project {
	flex-direction: column;
}

#design .experience-job {
	font-size: 18px;
}

#design p {
	font-size: 1.3em;
	line-height: 1.7em;
}

}

/* 480px ----------- */
@media only screen 
and (max-width : 481px) {
/* Styles */
nav ul { padding-right: 0.25em; }
nav ul li {
	margin: 2px 0.25em 0;
}
section {
	padding-top: 6em;
	padding-top: calc(4em + 5%);
}
#aboutTextContainer {
	padding-top: 2em;
}
#aboutTextContainer h1 {
	font-size: 2.5em;
}
#aboutTextContainer p {
	font-size: 1em;
	color: #656565;
	margin-bottom: 2em;
}
#about-review-container {
	margin-top: 3em;
	padding: 2em 5%;
}
.about-review-text-container {
	padding: 1em;
	font-size: 0.9em;
}

#experience .section-title,
#projects .section-title,
#design .section-title {
	font-size: 2.5em;
}

#experience .job-title {
	font-size: 1.5em;
}

#experience .job-desc p {
	font-size: 1em;
	line-height: 1.7em;
}

#projects .code-project .code-project-desc p {
	font-size: 1em;
	line-height: 1.7em;
	margin-bottom: 0;
}

.code-project {
	flex-direction: column;
}

#design .experience-job {
	font-size: 16px;
}

#design p {
	font-size: 1em;
	line-height: 1.7em;
}

}