/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 640px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* < 1600 ----------- */
@media only screen 
and (max-width : 1600px) {
/* Styles */
.aboutReviewTextContainer {
  margin: 1.5em;
  padding: 1.5em;
}

}

/* 1440 ----------- */
@media only screen 
and (max-width : 1440px) {
/* Styles */
.aboutReviewTextContainer {
  margin: 1em;
  padding: 1em;
}

}

/* 1280 ----------- */
@media only screen 
and (max-width : 1280px) {
/* Styles */
.aboutReviewTextContainer {
  font-size: 0.95em;
}

}


/* 1140 ----------- */
@media only screen 
and (max-width : 1140px) {
/* Styles */
.aboutReviewTextContainer {
  font-size: 0.9em;
}

}

/* 1024 ----------- */
@media only screen 
and (max-width : 1024px) {
/* Styles */
.aboutReview {
  width: 100%;
  margin: 0 auto;
}
.aboutReviewTextContainer {
  font-size: 1em;
  margin: 2em;
  padding: 2em;
}

}

/* 800px ----------- */
@media only screen 
and (max-width : 800px) {
/* Styles */
#aboutImage {
	max-width: 90%;
}

}

/* 640px ----------- */
@media only screen 
and (max-width : 640px) {
/* Styles */
nav ul { padding-right: 0.5em; }
nav ul li {
	margin: 2px 0.5em 0;
}
#aboutTextContainer h1 {
	font-size: 3.5em;
}
#aboutTextContainer p {
	line-height: 1.5em;
}
.aboutReviewTextContainer {
	margin: 0 0 2em 0;
}

}

/* 420px ----------- */
@media only screen 
and (max-width : 420px) {
/* Styles */
nav ul { padding-right: 0.25em; }
nav ul li {
	margin: 2px 0.25em 0;
}
section {
	padding-top: 6em;
	padding-top: calc(4em + 5%);
}
#aboutTextContainer {
	padding-top: 2em;
}
#aboutTextContainer h1 {
	font-size: 2.5em;
}
#aboutTextContainer p {
	font-size: 1em;
	color: #656565;
	margin-bottom: 2em;
}
#aboutReviewContainer {
	margin-top: 3em;
	padding: 2em 5%;
}
.aboutReviewTextContainer {
	padding: 1em;
	font-size: 0.85em;
}

}

/* 360px ----------- */
@media only screen 
and (max-width : 300px) {
/* Styles */
nav ul li {
	font-size: 0.9em;
}

}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}